<!DOCTYPE html>
<html>
  <head>
    <title>Tweet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("Tweet","/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("About Tweet","/about") %>
        </li>
        <li>
          <%= link_to("List of contributions","/posts/index") %>
        </li>
        <li>
          <%=link_to("New contribution","/posts/new")%>
        </li>
      </ul>
    </header>
    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
