<!DOCTYPE html>
<html>
  <head>
    <title>Tweet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("Tweet", "/posts/index") %>
        <% else %>
          <%= link_to("Tweet", "/") %>
        <% end %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li>
            <%=link_to(@current_user.name,"/users/#{@current_user.id}")%>
            <li>
              <%= link_to("List of contributions","/posts/index") %>
            </li>
            <li>
              <%=link_to("New contribution","/posts/new")%>
            </li>
            <li>
              <%=link_to("List of users","/users/index")%>
            </li>
            <li>
              <%=link_to("Logout","/logout",{method: :post})%>
            </li>
        <%else%>
            <li>
              <%= link_to("About Tweet","/about") %>
            </li>
            <li>
              <%=link_to("New registration","/signup")%>
            </li>
            <li>
              <%=link_to("Login","/login")%>
            </li>
        <% end %>
      </ul>
    </header>
    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
